 .hero-image{
            text-align: center;
        }
        
        .but :hover{
            color: rgb(23, 118, 235);
            background-color: white;
            
        }
        .h5{
            letter-spacing: 1px;
            line-break: 3px;
        }

        .about {
          
            align-items: center;
            background: linear-gradient(90deg, #4A90E2, #1E3A8A);
            color: white;
            text-align: center;
            padding: 10px;
            font-size: 24px;
            font-weight: bold;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            align-items: center;
        } 
       
        .skills {
            
            align-items: center;
            background: linear-gradient(90deg, #4A90E2, #1E3A8A);
            color: white;
            text-align: center;
            padding: 10px;
            font-size: 24px;
            font-weight: bold;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
        }
        body {
            font-family: Arial, sans-serif;
            background: #f4f4f4;
            text-align: center;
        }
        .skills-section {
            width: 80%;
            max-width: 800px;
            margin: auto;
            padding: 20px;
            background: white;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        .skills-section h2 {
            color: #333;
        }
        .skill {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #ddd;
            margin: 10px 0;
            padding: 10px;
            border-radius: 5px;
            overflow: hidden;
        }
        .skill span {
            font-weight: bold;
        }
        .progress-bar {
            width: 70%;
            height: 10px;
            background: #ddd;
            border-radius: 5px;
            overflow: hidden;
        }
        .progress {
            height: 100%;
            background: #4A90E2;
        }
        .project-card {
            transition: transform 0.3s ease;
          }
      
          .project-card:hover {
            transform: translateY(-10px);
          }
